<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/style.css">
    <script defer src="/layout.js"></script>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@100;300;400;500;700;800&family=Righteous&display=swap" rel="stylesheet">
    

</head>
<body>
    <div class="podesavanja"><div><img src="/imagesForSite/settings.png" alt=""> </div></div>
    <%- body %>
    <div class="nijebody"></div>
    <div class="select">
        <ul>
            <li class="White">White Mode</li>
            <li class="Dark">Dark Mode</li>
            <li class="PremiumDark">Premium Dark Mode</li>
        </ul>
    </div>
</body>
</html>