/* LOGOUT */


.logout{
    position: absolute;
    top: 5%;
    right: 5%;
}
.logout button{
    background-color:  var(--submit-color);
    color: var(--font-color);
    outline: none;
    border: 1px solid var(--border-color);
    padding: 8px 10px;
    border-radius: 25px;
    font-family: 'Righteous';


}
.user{
    position: absolute;
    top: 12%;
    right: 5%;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    font-weight: 400;

}
.user:hover{
    transform: scale(1.05);
    transition: .2s;
}
.user img{
    display: inline;
    width: 15%;
    filter: var(--filteri);
}
/* LOGOUT */

.container{
    width:100%;
    display: flex;
    flex-direction: column;
    justify-content:center ;
    align-items:center ;
}
.container .prvi{
    margin-top: 18vh;
    margin-bottom: 3vh;
}
.container .prvi h1{
font-size: var(--font-size-x-large);
}

.container .drugi{
    width: 80%;
    position: relative;
    margin-bottom: 5vh;

}

.container .drugi form{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.container .drugi input{
    width: 100%;
    outline: none;
    color: var(--font-color);
    border: 1px solid var(--border-color);
    padding:12px 18px;
    background-color: transparent;
    border-radius: 25px;
}
.container .drugi input::placeholder{
    color: var(--font-color);

}
.container .drugi::after{
    position: absolute;
    content: '';
    display: block;
    top: 0;
    right: 0;
    width: 20%;
    height: 100%;
    background-color: var(--submit-color);
    border-radius: 0px 25px 25px 0;
}
.container .drugi .lupa{
    position: absolute;
    content: '';
    display: block;
    top: 0%;
    right: 0%;
    width: 20%;
    height: 100%;
    background-repeat: no-repeat;
    border-radius: 0px 25px 25px 0;
    z-index: 2 !important;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container .drugi .lupa img{
    height: 50%;
    margin:  0 auto;
}


/* DRUGI*/




/* TRECI */
.container .treci{
    width: 90%;
    margin: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.container .treci .prodavnica{
    position: relative;
    margin: 3vh 0;
    width: 48%;
    min-width:150px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: left;
    border-radius: 25px;
    box-shadow: 0 0 25px var(--skoro-background-color);
}

.container .prodavnica a{
    display: block !important;
    position: absolute;
    width:100%;
    height: 100%;
    top: 0;
    right: 0;
}

.container .treci .prodavnica h2{
margin: 15% 10%;
}

.container .treci .prodavnica p{
    color: var(--border-color);
    margin: 5% 10% 10% 10%;
}
.container .treci .prodavnica img{
    display: block;
    border-radius:20px 20px 0 0 ;
    aspect-ratio:1.61/1;
    background-color: transparent;
    box-shadow: 0 0 1px var(--skoro-background-color);

    
}

.container .treci .prodavnica:hover{
    transform: scale(1.05);
    transition: transform .2s;
}


/* TRECI */

