@import url('https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@100;300;400;500;700;800&family=Righteous&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.potvrdi{
    position: fixed ;
    bottom: 10%;
    width: 100%;
    display: flex;
    justify-content: center;
    z-index: 5;
    display: none;
}
.potvrdi form{
    width: 100%;
    display: flex;
    justify-content: center;
}
.potvrdi button{
    width: 80%;
    background-color: var(--submit-color);
    border-radius: 25px;
    height: 6vh;
    border: none;
    box-shadow: 0px 0px 25px var(--skoro-background-color);
}


.iframe{
    display:none;
    z-index: 5;
    background-color: var(--background-color);
    border-radius: 25px;
    position: fixed !important;
    display: none;
    z-index: 4;
     position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%); 
    box-shadow:0px 0px 20px var(--skoro-background-color) ;
}
iframe{
    height: 60vh;
    border-radius: 25px;
    border: none

}
body{
    
--font-size-small:10px;
--font-size-mid:15px;
--font-size-large:23px;
--font-size-x-large:35px;

--background-color:rgb(49, 49, 49);
--skoro-background-color:rgb(222, 222, 222); 
--skoro-background-color:rgb(55,55,55); 
--skoro-background-color:rgb(115, 115, 115); 
--font-color:#bababa;
--submit-color:#5e5e5e;
--submit-color:#039f03f5;
/* --submit-color:#7a7a7af5; */
/* --border-color: rgba(0, 0, 0, 0.413); */
--border-color: rgba(218, 218, 218, 0.413);
--pogresna-lozinka:rgb(181, 32, 32);

--filteri:brightness:0%;

background-color: var(--background-color);
font-family: 'M PLUS Rounded 1c';
color:var(--font-color);
}



.podesavanja{
    position: absolute;
    top: 5%;
    left:8.05%;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.podesavanja img{
    position: absolute;
    top:0;
    left:0; 
width: 25%;
filter:var(--filteri);
}

.select{
    justify-content: center;
    align-items: center;
    text-align: center;
    transform:  translateY(-0%) translateX(-30%);
    position: fixed;
    top: 0;
    z-index: 2;

    left: 0;
    background-color: var(--font-color);
    width: 0%;
    display: none;
    height: 100vh;
    color: var(--background-color);
    animation: meni 2s  ease forwards  ;
    font-family: 'Righteous';
}

.select ul{
    transform: translate(-50%);
}

.select li{
    margin: 80%;
    width: 100%;
    list-style: none;
}
.nijebody{
    display: none;
    height: 100vh;
    position: absolute;
    top:0;
    right:0;
    width: 100%;
    position: fixed;
}

button{

box-shadow:  0 1px 2px black;
}
p{
    text-shadow: 0 1px 2px black;
    
}
button:hover{
    transform: scale(1.05);
    transition: .2s;
}


input:focus{
    animation: input .5s  forwards;
}





/* UPDATE USER */
.update-user{
    justify-content: center;
    align-items: center;
    text-align: center;
    transform:  translateY(-0%) translateX(-30%);
    position: fixed;
    top: 0;
    left: 0;
    background-color: var(--font-color);
    width: 0%;
    display: none;
    z-index: 2;
    height: 100vh;
    color: var(--background-color);
    animation: meni 2s  ease forwards  ;
    font-family: 'Righteous';
}
.update-user form{
    height: 50%;
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    flex-direction: column;
}

.update-user form{
    display: flex;
    width: 50%;
    flex-direction: column;
    justify-content: center;
    font-size: var(--font-size-large);
}
.update-user form  input{
    transform: translatex(25%);
    color: var(--background-color);
    overflow: hidden;
    outline: none;
    border: 1px solid var(--border-color);
    padding:8px 10px;
    border-radius: 25px;
    width: 100%;
    margin-top: 2px;
    background-color: transparent;
}
.update-user form label{
    transform: translatex(20%);

}




/* KORPA     */

.korpa{
    position: absolute;
    top: 16%;
    right:3.05%;
    display: flex;
    justify-content: center;
    align-items: center;
    }
    .korpa img{
        width: 50%;
        transform: rotateY(180deg);
    }
/* KORPA     */
/* USER */

.logout{
    position: absolute;
    top: 3%;
    right: 5%;
}
.logout button{
    background-color:  var(--submit-color);
    color: var(--font-color);
    outline: none;
    border: 1px solid var(--border-color);
    padding: 8px 10px;
    border-radius: 25px;
    font-family: 'Righteous';


}
.user{
    position: absolute;
    top: 10%;
    right: 5%;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    font-weight: 400;

}
.user:hover{
    transform: scale(1.05);
    transition: .2s;
}
.user img{
    display: inline;
    width: 15%;
    filter: var(--filteri);
}



/* USER */





@keyframes meni {
    0%{
        width: 0;
    }
    100%{
        width: 100%;
    }
}


@keyframes input{
    0%{
        box-shadow: none;
    }
    50%{
        box-shadow: 0 0 10px var(--submit-color);
    }
    100%{
        box-shadow: none;
    }
}